html{
  font-size: 16px;
}

body{
  margin: 0;
  padding: 0;
}

/* Header */

.header {
  display: flex;
  height: auto;
  width: 100%;
  padding: 0 1.5rem;
  background-color: lightyellow;
  align-items: center;
  flex-direction: row;
}

.header .logo{

}

.header .content{
  display: flex;
  height: 4em;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.ColmarAcademy{

  height: 2rem;
  word-spacing: 0px;
  display: flex;
  align-items: center;
}

.Colmar{
  font-weight: bold;
}

.Academy{
  color: lightgrey;
}

.content .items{
  text-align: left;

}

.items p {
  display: inline;
  padding-left: 1rem;
}

.logo img{
  height: 2.5rem;
  width: auto;
}

/* Learn Something New Everyday */
.greybox{
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: hsla(200, 10%, 85%, 1);

}


.greybox img{
  width: 60%;
  padding: 2rem 0 2rem 1.5rem;
}

.greybox .text{
  display: flex;
  flex-direction: column;
  padding-left:1.5rem;
  /* padding-right: 4rem; */
  align-content: center;
  justify-content: center;
  height: auto;
  width: auto;
}

.greybox .text h1{
  font-size: 4vw;
  font-weight: bold;
  margin-bottom: 2rem;
}

.greybox .text h2{
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.greybox .text .button{
background-color: #4f4f4f;
display: inline;
width: 80%;
padding: 0.5rem 0;
margin-bottom: 2rem;
}

.button p{
  color: white;
  text-align: center;
}
