html{
  font-size: 16px;
}

body{
  margin: 0;
  padding: 0;
  width: 100%;
}


h1,h2{
  color: #4f4f4f;
}

/* Header */

.header {
  display: flex;
  height: auto;
  padding: 0 1.5rem;
  background-color: lightyellow;
  align-items: center;
  flex-direction: row;
}

.header .logo{

}

.header .content{
  display: flex;
  height: 4em;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.ColmarAcademy{

  height: 2rem;
  word-spacing: 0px;
  display: flex;
  align-items: center;
}

.Colmar{
  font-weight: bold;
}

.Academy{
  color: lightgrey;
}

.content .items{
  text-align: left;

}

.items p {
  display: inline;
  padding-left: 1rem;
}

.logo img{
  height: 2.5rem;
  width: auto;
}

/* 1st Panel - Learn Something New Everyday */
.first_panel{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: hsla(200, 10%, 85%, 1);

}


.first_panel img{
  width: 60%;
  height: auto;
  padding: 2rem 0 2rem 1.5rem;
}

.first_panel .text{
  display: flex;
  flex-direction: column;
  padding-left:1.5rem;
  /* padding-right: 4rem; */
  align-content: center;
  justify-content: center;
  height: auto;
  width: 30%;
}

.first_panel .text h1{
  margin-bottom: 2rem;
  font-size: 4vw;
  font-weight: bold;
}

.first_panel .text h2{
  font-size: 2.5vw;
  margin-bottom: 2rem;
}

.first_panel .text .button{
background-color: #4f4f4f;
display: inline;
width: 100%;
padding: 0.5rem 0;
margin-bottom: 2rem;
}

.button p{
  color: white;
  text-align: center;
}

/* 2nd Panel - It doesn't hurt to keep practicing */



.second_panel{
  display: flex;
  flex-direction: row;
  width: 100%;

}

/* Left Column */
.second_panel .left-column{
  display: flex;
  float: left;
  flex-direction: column;
  width: 60%;
  height: 100%;
  margin: 0;
  padding-right: 1.5rem;
  margin: 2rem 0;
  padding-left: 1.5rem;
}

 .left-column img{
  width: 100%;
  margin: 0;
}

.left-column .text{
  width: 100%;
}
.left-column .text h1{
  padding-top: 2rem;
  font-size: 4vw;
}

.left-column .text p{
  padding-top: 1.5rem;
  font-size: 1.75vw;
}

.left-column .text .signature{
  display: block;
  height: 100%;
  vertical-align: text-bottom;
  padding-top: 1.5rem;
}

.left-column .text .signature p{
  font-size: 1vw;
}

/* Right-Column */

.second_panel .right-column{
  display: flex;
  width: 40%;
  float: left;
  border-left-width: thin;
  border-style: solid;
  border-color:#d1d1d1;
  padding: 2rem 0;
}

.right-column .container{
  width: 100%;
}
.container .content{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: auto;
  padding: 1rem 0 1rem 1rem;
  border-bottom-width: 2.5px;
  border-bottom-color: #d1d1d1;
  border-bottom-style: solid;
}
.container .content:first-child{
padding: 0 0 1rem 1rem;
}

.container .content:last-child{
background-color: #d1d1d1;
}

.right-column .container .content .image{
  width: 35%;
}

.right-column .container .content .image img{
  width: 100%;
  height: auto;
}

.right-column .container .content .text{
  display: flex;
  width: 65%;
  flex-direction: column;
  text-align: justify;
  padding: 1rem;
}

.right-column .container .content .text span.title{
  font-weight: bold;
  font-size: 1.5rem;
  color: #4f4f4f;
  text-align: left;
}

.right-column .container .content .text span.subtitle{
  font-size: 1rem;
  padding: 0.5rem 0;
  color: #4f4f4f;
}

.right-column .container .content .text span.ReadMore{
  color: #5d99f9;
  font-size: 1rem;
  padding: 0.5rem 0;
}
